*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Comfortaa;
}

a{
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000000;
}

/* COLORS */
.bg-yellow{
    background: #FFC107;
}

.yellow{
    color: #FFC107;
}

.bg-wht{
    background: #FFFFFF;
}

.bg-dark{
    background: #000000;
}

.bg-ash{
    background: rgba(36, 36, 36, 0.02);
}

.bg-black{
    background: rgba(36, 36, 36, 1);
}

.navbar{
    width: 100%;
}

img{
    border-radius: 4px;
    width : 100%;
}

.img{
    width: 100%;
}

.group {
    padding: 0 100px;
    /* padding-right: 330px; */
}

.land-text{
    margin-top: 150px;
}



.container-fluid{
    padding: 0;
    margin: 0;
    
}
.show-sm{
    display: none
}
.newInput{
    height: 42px;
    background: rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding-left: 15px;
    font-weight: 700;
    color: #000000;
    border: 2px solid rgba(255, 242, 0, .2);
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}

.img{
    width: 100%;
}

.border{
    border-radius: 4px;
}

.space{
    height: 100vh;
}

.checker {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checker input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2px;

  }

.new-textarea{
    background: rgba(0, 0, 0, .2);
    height: 61px;
    resize: none;
    border: 2px solid rgba(255, 242, 0, .2);
}

.flex-container-row{
    display: flex;
    flex-direction: row;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

button{
    transition: all 0.3s ease 0s;
}


.logo-and-welcome-text{
    padding: 31px 100px;
}

.logo{
    cursor: pointer;
}

.welcome-text{
    margin-top: 300px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900;
}
h2{
    font-size: 20px;
}
h1{
    font-size: 28px;
    font-weight: 900;
}





.bg-white{
    background: rgba(255, 255, 255, 1);
}

.btn{
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    padding: 10px 1.5rem;
}


/* .btn-yellow{
    width: 182px;
    height: 42px;
    background: rgba(255, 193, 7, 1);
    color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 4px;
    margin-right: 20px;
} */





.navbar-light .navbar-nav .nav-link {
    margin: 0;
    padding: 0;
}

/* paddings */

.holder-left{
    padding-left: 100px;
}

.holder-right{
    padding-right: 100px;
}

.holder-top{
    padding-top: 100px;
}

.holder-bottom{
    padding-bottom: 100px;
}

.holder{
    padding: 100px;
}

.navbar{
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding-left: 100px;
    padding-right: 55px;
}

.nav-item{
    margin: 0 10px;
}

.navbar-nav {
    margin-left: 55%;
    width: 100%;
}

nav ul{
    padding-left: 10%;
    padding-top: 22px;
    
}

.landing-image ul li{
    list-style: none;
    display: inline-block;
    margin: 0 14px;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    font-family: Comfortaa;
}

.hello{
    width: 97px;
    height: 42px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}

.building{
    margin-top: 202px;
    width: 100%
}

.more{
    padding: 45px 49px;
    
}

p{
    font-size: 16px;
}

.first{
    height: 100vh;
}

.img-content{
    height: 351px;
    border: 4px solid #FFC107;
    border-radius: 4px;
    background: white;
    position: relative;
}

.img-content img{
    height: 100%;
    position: absolute;
    left: -8%;
    top: 23px;
}

.site{
    position: absolute;
    bottom: 5px;
}




.more p{
    padding-right: 40px;
}

.underline{
    text-decoration: underline;
}

/* .more a{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-decoration: underline;
} */

.fa-phone{
    position: fixed;
    left: 87%;
    top: 676px;
    width: 74px;
    height: 74px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 12px 12px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    padding-top: 20px;
    z-index: 99;
}

/* .social-links{
   width: 100px;
   padding-top: 180px;
   font-family: consolas;
} */

.links{
    width: 100%;
}

.links p{
    transform: rotate(90deg);

}

 .follow {
    position: fixed;
    padding-top : 97px;
    padding-bottom: 45px;
    margin-top: 147px;
} 

.social-links p{
    font-size: 13px;
    color: rgba(0, 0, 0, 1);

}

.line{
    border: 1px solid rgb(85, 83, 83);
    height: 40px;
    width : 0px;
    margin: auto;
    margin-top: 78px;
    /* height: 40px;
    width: 0; */
    /* margin: auto;
    margin-left: 53%;
    margin-top: 60px; */
}

.social{
    margin: auto;
    margin-left: 48%; 
    font-family: Comfortaa;   
}

.social i{
    margin: 10px 0;
    font-size: 12px;
    cursor: pointer;
    color: #000000;
}

.get-started{
    background: rgba(36, 36, 36, 1);
    width: 100%;
    padding: 100px;
    
    
}

.start-text{
    margin-bottom: 60px;
}

.head{
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.profile{
    margin-top: 200px;
    position: relative;
    left: -18%;
}


.project{
    width: 356px;
    border-radius: 4px;
    padding: 52px 20px;
    transition: all 0.2s ease 0s;
}

.project:hover{
    background: rgba(255, 255, 255, .1);
    box-shadow: #000000 0 4px 11px;
}

.tittle{
    color: #FFFFFF;
    font-size: 20px;
}

hr{
    border: 2px solid white;
    width: 10%;
    border-radius: 10px;
}

.go{
    background: black;
    color: #FFFFFF;
}

.go:hover{
    background: #FFC107;
    color: #000000
}

.courasel{
    margin-top: 75px;
    position: relative;
    width: 100%;
}

.bold-head{
    font-family: 'Avenir';
    font-size: 28px;
    font-weight: 900;
    color: #000000;
}

.img-container{
    /* width: 380px;
    height: 252; */
    /* text-align: center; */
    background: linear-gradient(to bottom, rgba(17, 168, 128, .85), rgba(17, 168, 128, .85)), url('./image/background.png');
    border-radius: 4px;
    padding: 40px;
    }


.arrow-right{
    position: absolute;
    left:93%;
    top: 60px;
    cursor: pointer;
}

.arrow-left{
    position: absolute;
    left: -9%;
    top: 108px;
    cursor: pointer;
}


.a-text{
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    font-weight: 400;
}

.currency{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Avenir';
    font-weight: 900;
    margin-top: 17px;
}

.see-all{
    margin: auto;
    margin-top: 61px;
    margin-left: 30%;
    width: 126px;
    
}

.testimony{
    padding-top: 153px;
    text-align: center;
    background: #FAFAFA;
}

.quote-box{
    padding: 0px 127px;
    padding-bottom: 174px;
}

.quote{
    font-size: 20px;
    color: #000000;
    font-family: Avenir;
    font-weight: 900;
    margin-bottom: 58px;
}

.testimony-text{
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 400;
}

.testimony-name{
    background: #FFC107;
    height: 120px;
    padding-top: 27px;
    color: #000000;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 900;
}

.technology{
    background: rgba(36, 36, 36, 0.02);
    padding-left: 100px;
    padding-top: 83px;
    padding-bottom: 1px;
}

.technology .row{
    margin-bottom: 120px
}

.tools .row{
margin-bottom: 100px;
}



.tool-head{
    color: rgba(0, 0, 0, 1);
    font-size: 28px;
    font-family: Avenir;
    font-weight: 900;
}

.tool-text{
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}



.left{
   margin-left: 30%;
}

.footer{
    background: rgba(36, 36, 36, 1);
    padding: 0;
    margin: 0;
    padding: 100px;
    padding-left: 10%;
}

input, textarea{
    color: #FAFAFA;
    width: 100%;
    font-size: 14px;
}
input{
    height: 46px;
    background: rgba(255, 255, 255, .01);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-left: 15px;
    
}
input[type=text]:focus{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);

}
::placeholder{
    color: rgba(136, 136, 136, 1);
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 100;
    
}



textarea{
    background: rgba(255, 255, 255, .01);
    height: 97px;
    resize: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding-left: 15px;
}

.mr{
    margin-right: 28px;
}

.addresses{
    padding-right: 180px;
    padding-top: 60px;
    padding-left: 10%;
    padding-bottom: 200px;
}

.fa-map-marker-alt{
    color: #FFFFFF;
}

.city{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 7px;
}

.address{
    font-size: 16px;
    color: rgba(167, 167, 167, 1);
   
}

.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    
}

.cursor{
    cursor: pointer;
}

.active{
    font-weight: 700;
    text-decoration: underline;
}

.navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
    
}

@media (max-width:991px){
    .group{
        padding-right: 0;
    }
}

@media (max-width:767px){
    .group {
        padding: 0 100px;
        margin-bottom: 60px;
    }
    .show-sm{
        display: inline-block;
    }
    .profile{
        left: 0;
        width: 100%;
    }

    .tj{
        margin-top: 58px;
        padding: 10px 56px;
    }

    .img-content {
        border: none;
    }

    .welcome-text {
        margin-top: 200px;
    }

    .bg-sm-white{
        background: white;
    }

    .house, .follow, .location, .first{
        display: none;
    }

    

   

    .project{
        width: 100%;
    }

    .padder{
        /* padding-right: 100px; */
        display: flex;
        justify-content: center;
    }

    .pr-0{
        padding-right: 100px;
    }

    .pad{
        padding: 0 45px;
    }

    .center{
        text-align: center;
        margin-top: 20px;
    }

    .contribute{
        padding-left: 0;
        text-align: center;
    }

    input{
        margin-bottom: 30px;
    }

    .tools{
        padding: 0;
    }
    .tools img{
        width: 100%;
    }
}

@media(max-width:491px){
    button{
        text-align: center;
        margin-bottom: 20px;
    }
}